<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head-html"></head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">FASILKOM UI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse pull-right" id="navbarNavAltMarkup">
                <div class="navbar-nav"></div>
            </div>
        </div>
    </nav>
</header>

<div th:if = "${param.error}" >
    Invalid username and password.
</div>
<div th:if = "${param.logout}" >
    You have been logged out.
</div>
<!--Jumbotron Section-->
<section id="jumbotron">
    <div class="container">
        <h1>APLIKASI SEKRETARIAT <br/> FAKULTAS ILMU KOMPUTER UI</h1>
        <hr/>
        <div class="row">
            <div class="col-4">
                <form  th:action = "@{/login}" method = "post" >
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary"/>
                    </div>
                </form>

            </div>
            <div class="col-8">	</div>
        </div>
    </div>

</section>

<div th:replace="fragments/fragment :: foot-html"></div>
</body>
</html>