<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head-html"></head>
<body>
	<header th:replace="fragments/fragment :: header"></header>

	<!--Jumbotron Section-->
	<section id="header">
		<div class="container">
			<h1>Menu Aplikasi Akademik</h1>
			<a href="/">Menu Utama</a>
			<br/>
		</div>
	</section>
	<section id="main-content">
		<div class="container">
			<div class="row">
				<div class="col-8 offset-2 text-center">
					<h1>IRS berhasil dihapuskan</h1>
					<br/>
					<div th:each="result,iterationStatus: ${dropped}" class="text-left">
						<h4 th:text="${iterationStatus.count} + '. Nama matakuliah adalah ' + ${result}"></h4>
					</div>
				</div>
			</div><br/>
		</div>
	</section>
<div th:replace="fragments/fragment :: foot-html"></div>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
</body>
</html>