<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head-html"></head>
<body>
<header th:replace="fragments/fragment :: header">
    
</header>

<!--Jumbotron Section-->
<section id="header">
    <div class="container">
        <h1>Update Status Kelulusan</h1>
        <a href="#">Dashboard / Update Status Kelulusan</a>
    </div>
</section>
<section id="main-content">
    <div class="container">
       
        <div class="col "></div>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>No. </th>
                <th>NPM</th>
                <th>Nama Mahasiswa</th>
                <th>Status Lulus</th>
                <th>Status Wisuda</th>
                <th>Status Aktif</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!--  <tr th:each="irs,iterationStatus: ${listMhsLulus}">
                <th th:text="${iterationStatus.count}">
                    No. 1
                </th>
                <th th:text="${irs.kodeMK}" name="npm">
                    Kode MK
                </th>
                <th th:text="'Nama Mata Kuliah'">
                    Nama Mata Kuliah
                </th>
                <th th:text="${irs.statusIrs}">
                    Status IRS
                </th>
                <th th:text="${irs.tanggalPengisian}">
                    tanggal Pengisian
                </th>
                <th th:text="${irs.term}">
                    Term
                </th>
            </tr> -->
            <form  th:action = "@{/admin/status-lulus/update}" method = "post" >
            <tr th:each="statusLulus, iterationStatus: ${allStatusLulus}">
            	<td th:text="${iterationStatus.count}">
                    1
                </td>
                <td th:text="${statusLulus.mahasiswaByIdUserMhs.npm}">NPM</td>
                <td th:text="${statusLulus.mahasiswaByIdUserMhs.namaLengkap}">Nama lengkap</td>
                <td th:switch="${statusLulus.statusLulus}">
                    <div th:case="true">Lulus</div>
                    <div th:case="false">Belum Lulus</div>
                </td>
                <td th:switch="${statusLulus.isWisuda}">
                    <div th:case="true">Sudah Wisuda</div>
                    <div th:case="false">Belum Wisuda</div>
                </td>
                <td th:switch="${statusLulus.isAktif}">
                    <div th:case="true">Aktif</div>
                    <div th:case="false">Tidak Aktif</div>
                </td>
                <td>
                   <div class="form-group">
                   		<a th:href="'/admin/updateStatusMhs/' + ${statusLulus.mahasiswaByIdUserMhs.npm}" class="btn btn-info">Edit</a>
                   		<!-- href nya tambain aja jadi /admin/edit-kelulusan/{id_mhs} -->
                    </div>
                </td>
                
            </tr>
            </form>

            </tbody>
        </table>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>

